<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: every screen at any moment, for checking the design on an emulator. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ScreenGalleryActivity"
            android:exported="true"
            android:taskAffinity=".gallery"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.TunisianPrayerTimesTV" />
    </application>
</manifest>
